@import url('https://fonts.bunny.net/css?family=instrument-sans:400,500,600');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
